[project]
	description = Lua-cURL is aiming for a full-fledged libcurl binding (easy/multi/share interface) to the functionality of Lua
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vadim A. Misbakh-Soloviov (msva)
[access "refs/for/refs/*"]
	read = group user/Vadim A. Misbakh-Soloviov (msva)
	push = group user/Vadim A. Misbakh-Soloviov (msva)
	label-Code-Review = -2..+2 group user/Vadim A. Misbakh-Soloviov (msva)
	label-Verified = -1..+1 group user/Vadim A. Misbakh-Soloviov (msva)
	rebase = group user/Vadim A. Misbakh-Soloviov (msva)
	removeReviewer = group user/Vadim A. Misbakh-Soloviov (msva)
	submit = group user/Vadim A. Misbakh-Soloviov (msva)
[access "refs/heads/*"]
	read = group user/Vadim A. Misbakh-Soloviov (msva)
	create = group user/Vadim A. Misbakh-Soloviov (msva)
	push = +force group user/Vadim A. Misbakh-Soloviov (msva)
	pushMerge = group user/Vadim A. Misbakh-Soloviov (msva)
[access "refs/tags/*"]
	push = +force group user/Vadim A. Misbakh-Soloviov (msva)
	pushTag = group user/Vadim A. Misbakh-Soloviov (msva)
	pushSignedTag = group user/Vadim A. Misbakh-Soloviov (msva)
